:root {
    --main-color: linear-gradient(to top, rgba(247, 121, 125, 0.19), rgb(251, 215, 134), rgb(198, 255, 221));
}



/* Set height of body and the document to 100% */
body,
html {
    background-image: linear-gradient(to top, #f7797d, #FBD786, #C6FFDD);
    background-repeat: no-repeat;
    background-size: auto;
    height: 100%;

}

/* Style tab links */



.tablink {
    background-color: rgba(225, 121, 121, 0.197);
    color: black;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 16px;
    font-size: 17px;
    width: 25%;
   
    font-family: "Noto Sans Display", sans-serif;
    font-style: normal;
      
      
      


}

.tablink:hover {
    background-color: rgba(225, 121, 121, 0.389);
}

/* Style the tab content (and add height:100% for full page content) */
.tabcontent {
    display: flex;
    flex-flow: column wrap;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 20px;
}

#message {
    background-color: #0f2342;
    color: #ffffff;
    border-radius: 5px;
    font-family: "Poetsen One", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    align-items: center;
    flex-flow: column wrap;
    width: 300px;
    padding: 20px;
    gap: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#message h1 {
    font-family: "Courgette", cursive;
    font-weight: 400;
    font-style: bold;
}

.tabcontent img {
    border-radius: 5px;
    width: 300px;
    padding: 20px;
    margin-top: 20px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

#Feliz #Dia #De #Madre {
    background: var(--main-color);
}

